<app-header titulo="{{'ritmocardiaco.title' | translate}}" backButton="no"></app-header>

<ion-content>
    <div class="contenedor">
            
            <div class="contenedorpulsera" *ngIf="enable==false">
                    <div class="led-red"></div>
                <div  class="warning" >Debes activar el bluetooth para utilizar esta característica</div>
                <div class="img"> 
                    <img src="../../../assets/pulserabluetooth.png" alt="Pulsera" width="300" height="330" (click)="bluetoothConnect()">
                    
                 </div>
                 
            </div>

            <div class="contenedorpulsera" *ngIf="enable==true && myband==false" >
                    <div class="led-red"></div>
                    <div  class="warning" >Pulsa la imagen para buscar tu dispositivo myband</div>
                    <div class="img"> 
                            <img src="../../../assets/pulseraemparejar.png" alt="Pulsera" width="300" height="330" (click)="conectar()">
                            
                         </div>
                </div>
                <div class="contenedorpulsera" *ngIf="enable==true && emparejando==false && myband==true">
                        <div class="contenedoremparejando">
                            <div class="lds-hourglass"></div>
                            <div  class="emparejando" >Emparejando...</div>
                            
                      </div>
                      <div class="img"> 
                            <img src="../../../assets/logo/icono.png" alt="Pulsera" width="300" height="330">
                            
                         </div>
                        </div>

                      
                        <div class="contenedorpulsera" *ngIf="enable==true && emparejando==true && myband==true">
                               
                                <div class="contenedoremparejandof">
                                        <div class="contenedorpulseraconectada">
                                                
                                                <div class="img"> 
                                                        <img src="../../../assets/emparejada.png" alt="Pulsera" width="32" height="32">
                                                       
                                                     </div>
                                            </div>
                                        <div  class="emparejando" >Emparejada</div>
                                        <div *ngIf="comenzar" class="lds-heart"><div></div></div>
                                       </div>
                                      
                                       <div class="heart"><div class="img"> 
                                        <img src="../../../assets/heart.png" alt="Pulsera" width="70" height="70">
                                       
                                     </div> 
                                     <div class="textoRitmo">
                                     {{ritmocardiacoactual}} bpm
                                     </div>
                                     <div class="textoRitmo">
                                     <ion-toggle (ionChange)="leerRit()" [(ngModel)]="comenzar"></ion-toggle>
                                </div>

                                </div>
                                <ion-card class="cardcontent">
                                        <ion-card-header class="cardheader">
                                       Seguimiento de tu ritmo cardiaco
                                        </ion-card-header>
                                        <ion-card-content>
                                        Aquí vamos a hacer un seguimiento de tus ritmo cardiaco, para poder ir haciendo una valoración de tu ansiedad. 
                                        </ion-card-content>
                                </ion-card>

                                <div class="medica2"> 
                                       
                                        <img class="medica" src="../../../assets/medica22.png" alt="Pulsera" width="256" height="256">
                                        
                                </div>
                                <ion-card class="cardcontent">
                                        <ion-card-header class="cardheader">
                                       Seguimiento de tu ritmo cardiaco
                                        </ion-card-header>
                                        <ion-card-content>
                                        Aquí vamos a hacer un seguimiento de tus ritmo cardiaco, para poder ir haciendo una valoración de tu ansiedad. 
                                        </ion-card-content>
                                </ion-card>
                                </div>
                       <!-- <div class="contenedorpulsera" *ngIf="enable==true && emparejando==true && myband==true">
                                <div class="contenedoremparejando">
                                    <div class="lds-hourglass"></div>
                                    <div  class="emparejando" >Emparejando...</div>
                              </div>
                            </div>-->

    </div>
</ion-content>
