<ion-content>
  <div class="content">
    <div class="barra">
      <ion-icon (click)="goLogin()" class="flecha" name="arrow-back" slot="start"></ion-icon>
     
 
   </div>
    <div class="center">
      <div class="logo">
       
  
      </div>
      <div class="form">
  <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
    <ion-label position="floating">{{'resetPassword.email' | translate:params }}</ion-label>
    <div class="item">
      
      <ion-input type="email" formControlName="email"> <ion-icon name="mail" slot="start"></ion-icon></ion-input>
    </div>
    
 
    <button class="button" [ngClass]="!credentialsForm.valid ? 'buttondisabled': 'buttonenabled'"  type="submit" [disabled]="!credentialsForm.valid">{{'login.login'|translate}}</button>

 
  </form>
  </div>
  </div>
  </div>

</ion-content>