ion-content{

    .content{
       background: url("https://media.giphy.com/media/qajXB8w1cnVOo/giphy.gif") no-repeat  ;  
       background-size:cover;
      
       min-height:800px;
        display:flex;
        flex-direction: column;
        width:100%;
        height: 100%;
        justify-content:flex-start;
        align-items: center;

        .logo{
            background:url(../../../assets/logo/logo.png)  no-repeat;
            background-size:contain;
          
            min-height: 200px;
            min-width: 300px;
        }
    }

    ion-label{
        
        color:whitesmoke;
        font-size:1.1em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       font-weight: lighter;
        width:100%;
        height: 100%;
    }
    .item{
        border-radius: 5px;
        
        border:solid 1px rgb(1, 9, 32);
        padding:5px;
        width: 300px;
        
        ion-input{
            color:rgb(171, 196, 207);
            font-size:1.1em;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            width:100%;
            height: 100%;
        }

    }

    .button{
       background-color:"red";
       width:100%;
       height: 50px;
       margin-top:10px;
       font-size:1.2em;
       color:white;
       border-radius:3px;
       opacity:0.3;
       outline:none;
       
    }

    .buttondisabled{
       background: linear-gradient(to right,rgb(255, 153, 0),rgb(8, 0, 0),rgb(255, 153, 0),rgb(0, 122, 221));
        opacity:0.3;
    }
    .buttonenabled{
        border-radius: 5px;
        background: linear-gradient(to bottom,rgb(11, 70, 231),rgb(6, 79, 173),rgb(1, 48, 119),rgb(7, 5, 117),rgb(7, 5, 117),rgb(7, 5, 117));
        opacity:1.0;
        color:white;
    }
    button::first-letter{
        text-transform: capitalize;
    }
    button:active{
        opacity:0.8;
   }
    .center{
       
        display:flex;
        flex-direction:column;
        max-width:400px;
        max-height: 600px;
       min-height: 500px;
        min-width: 300px;
        justify-content:space-around;
        align-items:center;
        
    }

    .policy{
        outline:none;
        color:rgb(171, 196, 207);
    }
    .policy:first-letter{
        text-transform: capitalize;

    }
    .policy:active{
        color:white;
    }
    .registry{
        outline:none;
        color:rgb(171, 196, 207);
    }

    .registry:first-letter{
        text-transform: capitalize;

    }
    .registry:active{
        color:white;
    }
    .refreshPassword{
        outline:none;
        color:rgb(171, 196, 207);   
    }

    .refreshPassword:first-letter{
        text-transform: capitalize;
    }
    .refreshPassword:active{
        color:white;
    }
}